<h1>Show Employee</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @employee.name %>
  </li>

  <li>
    <strong>Cpf number:</strong>
    <%= @employee.cpf_number %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.employee_path(@conn, :edit, @employee) %></span>
<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
